APP_ENV=local
APP_NAME="Inventory & Order Management System"
APP_URL=http://localhost:8080

DB_HOST=mysql
DB_PORT=3306
DB_NAME=inventory
DB_USER=inventory_user
DB_PASS=change_me

MYSQL_ROOT_PASSWORD=change_me_root

TEST_DB_HOST=mysql
TEST_DB_PORT=3306
TEST_DB_NAME=inventory
TEST_DB_USER=inventory_user
TEST_DB_PASS=change_me
